{% extends 'base.html.twig' %}

{% block title %}Catégorie #{{ category.id }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">{{ category.name }}</h1><br>
        {% for program in programs %}
        {% if program.category.id == category.id %}
        <li>{{ program.id }} - {{ program.title }}</li>
        <p>{{ program.synopsis }}</p>
        <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a><br><br>
        {% else %} Aucune série dans cette catégorie!
        {% endif %}
        {% endfor %}
        
        </div>
    </div><br>

    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>
{% endblock %}