{% extends 'base.html.twig' %}

{% block title %}Tous les Episodes{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1>Tous les épisodes</h1>
            {% for episode in episodes %}
                <p>Episode n°{{ episode.number }}</p>
                <p>Saison n° {{ episode.season.id }} </p>
                <p>Titre: {{ episode.title }}</p>
                <p>Synopsis: {{ episode.synopsis }}</p>
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des séries
    </a>
{% endblock %}
