{% extends 'base.html.twig' %}

{% block title %}Episode #{{ episode.number }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1>{{ program.title }}</h1>
            <h2 class="mt-0">Saison n°{{ episode.season.id }}</h2>
            <h3>Episode n°{{ episode.number }}</h3>
            <p>{{ episode.title }}</p>
            <p>{{ episode.synopsis }}</p>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des séries
    </a>
{% endblock %}
