{% extends 'base.html.twig' %}

{% block title %}Les séries{% endblock %}

{% block body %}

    <a href="{{ path('category_index') }}">
        Afficher toutes les catégories
    </a> <br><br>
    <h1>Toutes les séries : </h1><br><br>

    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} </h2>
            <h5>Catégorie : {{ program.category.name }}</h5>
            <hr style="color: black;">
            <p>{{ program.synopsis }}</p>
            {# Lien vers la fiche de la série : #}
            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
            <hr style="color: black; height: 3px">
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('program_new') }}">
        Ajouter une série
    </a><br><br>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}